{% block html_head_container %}
!!!
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

%head
  {% include 'html-head.twig' %}
  / Template Rendered
  {% block head %}
  {% endblock %}

{% endblock %}

%body{:class => "{{body_class}}", :data => {"template" => "theme.twig"} }
  
  {% include 'header.twig' %}
  .page-content
    {% block content %}

    {% endblock %}

  {% include 'footer.twig' %}