%title {{wp_title}}

%meta{:charset => "{{site.charset}}"}
%meta{:name => "description", :content => "{{site.description}}"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}

%link{:rel => "pingback", :href => "{{site.pingback_url}}"}/

/ Favicon
%link{:rel => "shortcut icon", :href => "{{site.theme.link}}/img/favicon.ico", :type => "image/x-icon"}/
%link{:rel => "icon", :href => "{{site.theme.link}}/img/favicon.ico", :type => "image/x-icon"}/

/ CSS
%link{:rel => "stylesheet", :href => "{{site.theme.link}}/style.css", :type => "text/css", :media => "screen"}/

/ JS is in Functions.php

{{function('wp_head')}}