{% extends 'theme.twig' %}

{% block content %}

%section#quote
  .wrapper
    %h1 Get a quote. Fast.
    
    {% if states %}

    .quote-form
      I live in
      %select#state_select
        {% for state in states %}
        {% if state.state_default == 1 %}
        %option{:value => "{{ state.state_name }}", :selected => "true", :data => {"opts" => "{{ state.state_name|lower }}-opts"}} {{ state.state_name }}
        {% else %}
        %option{:value => "{{ state.state_name}}", :data => {"opts" => "{{ state.state_name|lower }}-opts"}} {{ state.state_name }}
        {% endif %}
        {% endfor %}
      %span.bots.js_width_tmp
      {% for state in states %}
      %div{:class => "state-opts {{ state.state_name|lower}}-opts {% if state.state_default == 1 %}active{% endif %}"}
        and I'd like a quote for
        %select.product_select
          %option{:selected => true, :disabled => true}
          {% for product in state.state_products %}
          %option{:value => "{{product.product_name}}", :data => {"href" => "{{product.product_link}}"}} {{product.product_name}}
          {% endfor %}
        %span.bots.js_width_tmp
        insurance.
      {% endfor %}

      %a#start_quote.button.inactive{:href => "#", :target => "new"} Start Quote



    {% endif %}

{% endblock %}