{% set hash = '#' %}

{% block html_head_container %}
!!!
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

%head
  {% include 'html-head.twig' %}

  {% block head %}
  {% endblock %}

{% endblock %}

%body{:class => "{{body_class}} first-visit", :data => {"template" => "theme.twig", "classes" => "{{body_class}}", "view" => "grid-view"} }
  
  {% include 'header.twig' %}
  -# {% include 'components/loader.twig' %}
  
  .page-content#page-content
    {% block content %}
    
    {% endblock %}

    {% include 'footer.twig' %}


</html>