#quote {
  .quote-form {
    text-align: center;
    @include span-columns(10);
    @include shift(1);
    font-size: $type-quote;
    font-weight: $type-thin;
    color: $light-black;
    line-height: $line-medium;
  }
  select,
  .js_width_tmp {
    font-size: inherit;
    font-weight: $type-thin;
    color: $blue;
    option:not(:checked) {
      color: $mid-black;
    }
  }
  .product_select {
    width: 10rem;
  }

  .state-opts {
    display: none;
    &.active {
      display: inline !important;
    }
  }

  #start_quote {
    display: table;
    margin: 2.5rem auto;
    background: $blue;
    &:hover {
      background: $light-blue;
    }
    &:focus {
      background: $blue;
      box-shadow: 0px 2px 30px $light-blue;
    }
  }
}