.header-main {
  position: fixed;
  top: $header-offset;
  width: 100%;
  height: $header-height;
  padding-top: $vertical-bumper-half;
  z-index: 20;
  background-color: $white;
  transition: background-color $hover-out ease-out;
  .header-inner {
    position: relative;
  }
  .logo-wrap {
    @include span-columns(6);
  }
  .logo {
    display: block;
    width: $logo-width;
    svg {
      display: block;
      width: 100%;
      > path {
        fill: $text-light-grey;
        transition: fill $hover-out ease-out;
      }
    }
    &:hover {
      svg > path {
        fill: $black;
        transition: fill $hover-in ease-out;
      }
    }
  }
  .home & {
    .logo svg > path {
      fill: $black;
    }
    .logo:hover svg > path {
      fill: $text-light-grey;
    }
  }

  .nav-global {
    @include span-columns(6);
  }

  &.fixed {
    position: fixed;
    top: 0;
  }

  .admin-bar & {
    margin-top: 32px;
  }
  &:hover {
    background-color: $white;
  }
}