.portfolio-card {
  display: block;
  position: relative;
  overflow: hidden;
  .images-wrap {
    margin-bottom: -0.5%;
  }
  
  .portfolio-card-images {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-size: 0px;
  }

  .card-image-wrap {
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
    @include media($large-only) {
      height: 10rem;
    }
    @include media($xlarge-only) {
      height: 12.5rem;
    }
    @include media($xxlarge) {
      height: 15rem;
    }
    img {
      display: block;
      height: 100%;
      width: auto !important;
    }
    &:after {
      @extend %black-hover-psuedo;
    }
  }

  .portfolio-card-info {
    .portfolio-title,
    .portfolio-count {
      display: inline;
    }
    .portfolio-title {
      color: $text-dark-grey;
      transition: color $hover-out ease-out;
    }
  }

  &:hover,
  &.hovered {
    .portfolio-title {
      color: $mid-black;
      transition: color $hover-out ease-out;
    }
    .card-image-wrap:after {
      opacity: 1;
    }
  }
  .featured & {
    .card-image-wrap {
    }
    .card-image {
      padding-bottom: 60%;
    }
  }
}