// Forms

%sg-select {
  @include appearance(none);
  border: 0;
  outline: 0;
  border-radius: 0;
  background: transparent;
  padding-bottom: 0.1rem;
  font-family: $sans;
  font-size: $type-paragraph;
  border-bottom: $standard-border;
  cursor: pointer;
  transition: color $hover-out ease-out, border $hover-out ease-out;
  &:hover {
    border-bottom: $border-mid-black;
  }
  &:focus {
    border-bottom: $border-mid-black;
  }
}

select {
  @extend %sg-select !optional;
}