// Global Styleguide

a {
}

%sg-h1 {
}

%sg-h2 {
}

%sg-h3 {
}

%sg-h4 {
}

%sg-body-copy {
}

// body-link is for links used within copy blocks. text-link is used for non-button links all alone in the design.
%sg-body-link {
}

%sg-text-link {
}

%sg-blockquote {
}

%sg-button {
  display: inline-block;
  text-decoration: none;
  @include appearance(none);
  font-family: $sans;
  font-size: $type-button;
  padding: $button-padding;
  border-radius: $button-border-radius;
  background: $light-black;
  color: $white;
  cursor: pointer;
  &:hover {
    background: $dark-black;
  }
  &.inactive {
    background: $mid-grey;
    cursor: not-allowed;
  }
  &:active {
    @extend .button-active !optional;
  }
}

h1,h2,h3,h4,h5 {

}

h1, .h1 {
  @extend %sg-h1 !optional;
}

h2, .h2 {
  @extend %sg-h2 !optional;
}

h3, .h3 {
  @extend %sg-h3 !optional;
}

h4, .h4 {
  @extend %sg-h4 !optional;
}

h5, .h5 {
  @extend %sg-h5 !optional;
}

h6, .h6 {
  @extend %sg-h6 !optional;
}

p {
  @extend %sg-body-copy !optional;
  a {
    @extend %sg-body-link !optional;
  }
}

blockquote {
  p {
    @extend %sg-blockquote !optional;
  }
}

button {
 @extend %sg-button !optional;
}

.button {
  @extend %sg-button !optional;
}

.text-link {
  @extend %sg-text-link !optional;
}

.inline-list {
  li {
    display: inline;
  }
}

.inline-heading {
  display: inline-block;
  margin-right: 0.25rem;
}

.light-grey {
  color: $text-light-grey;
  a {
    color: $text-light-grey;
    &:hover {
      color: $black;
    }
  }
}

.lighter-grey {
  color: $text-lighter-grey;
  a {
    color: $text-lighter-grey;
    &:hover {
      color: $mid-black;
    }
  }
}

.line-small {
  line-height: $line-small !important;
}

.line-medium {
  line-height: $line-medium !important;
}

.line-large {
  line-height: $line-large !important;
}