{% block header %}
<header class='header-main'>
  <div class='wrapper outer'>
    <div class='logo-wrap'>
      <a class='logo' href='{{ site.url }}'></a>
    </div>
    <nav class='nav-global'>
      {% include "nav.twig" %}
    </nav>
  </div>
</header>
{% endblock %}
