{% extends 'theme.twig' %}
{% block content %}
<div class='page'>
  <div class='wrapper'>
    <h1>{{ post.title }}</h1>
    <div class='post-content-body'>{{ post.content }}</div>
  </div>
</div>
{% endblock %}
