{% set hash = '#' %}
{% block html_head_container %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  {% include 'html-head.twig' %}
  {% block head %}
  {% endblock %}
</head>
{% endblock %}
<body class='{{body_class}} first-visit' data-classes='{{body_class}}' data-template='theme.twig' data-view='grid-view'>
  {% include 'header.twig' %}
  <div class='page-content' id='page-content'>
    {% block content %}
    {% endblock %}
    {% include 'footer.twig' %}
  </div>
</body>
</html>
