// Fonts

@font-face {
  font-family: 'Sharp';
  @include font-url('sharp-book');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp';
  @include font-url('sharp-bold');
  font-weight: 700;
  font-style: normal;
}