%form-reset {
  text-decoration: none;
  @include appearance(none);
  border: 0;
  border-radius: 0;
  background: transparent;
  outline: 0;
}

input,
textarea,
select,
button {
  @extend %form-reset;
}