// Structure

#page-content {
  body.page-template-page-front &,
  body.single-project & {
    padding-top: $header-height-small;
    @include media($large-up) {
      padding-top: 0;
    }
  }
  body:not(.page-template-page-front):not(.single-project) & {
    padding-top: $header-height-small;
    @include media($large-up) {
      padding-top: $header-height-large;
    }
  }
  opacity: 1;
  transition: transform $hover-out $ease-in-out-cubic, opacity $page-transition ease-out;
  .loading & {
    opacity: 0;
    transition: transform $short-transition $ease-in-out-cubic, opacity $page-transition ease-out;
  }
  &.not-loaded {
    opacity: 0;
  }
  .nav-opened & {
    filter: blur(2px);
    transition: all $hover-in $ease-in-out-cubic;
  }
}

.wrapper {
  @include outer-container($max-width);
  padding-left: $wrapper-padding-small;
  padding-right: $wrapper-padding-small;
  @include media($medium-only) {
    padding-left: $wrapper-padding-medium;
    padding-right: $wrapper-padding-medium;
  }
  @include media($large-up) {
    padding-left: $wrapper-padding-large;
    padding-right: $wrapper-padding-large;
  }
  @include media($xlarge-up) {
    width: $site-width;
  }
  @include media($xxlarge) {
    padding-left: $wrapper-padding-xxlarge;
    padding-right: $wrapper-padding-xxlarge;
  }
  &.no-pad {
    padding-left: 0;
    padding-right: 0;
  }
  &.row-contain {
    padding-left: $wrapper-padding-small - $half-gutter;
    padding-right: $wrapper-padding-small - $half-gutter;
    @include media($medium-only) {
      padding-left: $wrapper-padding-medium - $half-gutter;
      padding-right: $wrapper-padding-medium - $half-gutter;
    }
    @include media($large-up) {
      padding-left: $wrapper-padding-large - $half-gutter;
      padding-right: $wrapper-padding-large - $half-gutter;
    }
    @include media($xxlarge) {
      padding-left: $wrapper-padding-xxlarge - $half-gutter;
      padding-right: $wrapper-padding-xxlarge - $half-gutter;
    }
  }
}

.page-header {
  margin-top: $vertical-bumper-half;
  margin-bottom: $vertical-bumper-half;
  @include media($medium-up) {
    margin-top: $vertical-bumper;
    margin-bottom: $vertical-bumper;
  }
}

.divider {
  @extend .wrapper;
  margin-top: $vertical-bumper-half;
  margin-bottom: $vertical-bumper-half;
  @include media($medium-up) {
    margin-top: $vertical-bumper;
    margin-bottom: $vertical-bumper;
  }
  &:after {
    content: ' ';
    display: block;
    width: 100%;
    border-top: $standard-border;
  }
}

.wrapper .divider {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.has-absolute {
  position: relative;
}

[class*=" absolute-"] {
  display: block;
  position: absolute;
}

[class*="absolute-top-left"] {
  top: 0;
  left: 0;
}

[class*="absolute-top-right"] {
  top: 0;
  right: 0;
}

[class*="absolute-bottom-left"] {
  bottom: 0;
  left: 0;
}

[class*=" medium-absolute-"] {
  @include media($medium-up) {
    display: block;
    position: absolute;
  }
}

.full-height {
  height: 100%;
}

.row {
  &.full-bleed {
    margin-left: -$wrapper-padding-small;
    margin-right: -$wrapper-padding-small;
    padding-left: $fixed-gutter-width/2;
    padding-right: $fixed-gutter-width/2;
    @include media($medium-only) {
      margin-left: -$wrapper-padding-medium;
      margin-right: -$wrapper-padding-medium;
    }
    @include media($large-up) {
      margin-left: -$wrapper-padding-large;
      margin-right: -$wrapper-padding-large;
    }
    @include media($xxlarge) {
      margin-left: -$wrapper-padding-xxlarge;
      margin-right: -$wrapper-padding-xxlarge;
    }
  }
}

.mobile-header {
  @include clearfix();
  .headline {
    float: left;
    @include media($medium-up) {
      float: none;
    }
  }
  .all-link,
  .text-link,
  .text-link-wrap {
    float: right;
    @include media($medium-up) {
      float: none;
    }
  }
}

.medium-mobile-header {
  @include clearfix();
  .headline {
    @include media($medium-only) {
      float: left;
    }
  }
  .all-link,
  .text-link,
  .text-link-wrap {
    @include media($medium-only) {
      float: right;
    }
  }
}

.stretch-headline {
  @include media($medium-up) {
    display: flex;
    flex-direction: column;
  }
  .headline {
    @include media($medium-up) {
      flex-grow: 1;
    }
  }
  .headline + * {
    @include media($medium-up) {
      flex-shrink: 0;
    }
  }
}

.large-stretch-headline {
  @include media($large-up) {
    display: flex;
    flex-direction: column;
  }
  .headline {
    @include media($large-up) {
      flex-grow: 1;
    }
  }
  .headline + * {
    @include media($large-up) {
      flex-shrink: 0;
    }
  }
}

.small-only {
  @include media($medium-up) {
    display: none;
  }
}

.medium-up {
  display: none;
  @include media($medium-up) {
    display: block;
  }
}

.large-up {
  display: none;
  @include media($medium-up) {
    display: block;
  }
}


.modules-wrap {
  background: transparent;
}

.modules-wrap,
.full-module {
  margin-top: $vertical-bumper-half;
}

.module-outer {
  padding: $half-gutter;
  background: $white;
}

.module-inner {
  position: relative;
}

.module-header {
  @include clearfix;
  padding-bottom: $half-gutter;
  .module-title {
    float: left;
  }
  .module-header-links {
    float: right;
    line-height: $line-small;
    .sep {
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.35rem;
      margin-right: 0.35rem;
      height: 0.675rem;
      border-right: $standard-border;
    }
  }
}

.row-header {
  @include media($medium-up) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    @include collapse(left);
  }
}

.fluid-width-video-wrapper {
  width: 100%;
  padding: 0;
  padding-bottom: 56.2%;
  position: relative;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.no-click {
  display: block;
  height: 0;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: $black-dark-transparent;
  // pointer-events: none;
  @include transition(transform $short-transition $cubic-ease, opacity $short-transition $cubic-ease, z-index 0s linear $short-transition, height 0s linear $short-transition, width 0s linear $short-transition);
}

.section-head {
  height: 3.75rem;
  padding-top: $vertical-bumper-half;
  h1,h2,h3,h4,h5 {
    text-transform: uppercase;
  }
}