#artists {
  position: relative;

  .index-head-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    .spacer {
      @include span-columns(3);
      float: none;
      .thumb-spacer {
        padding-bottom: $artist-card-image-padding;
      }
      .info {
        margin-bottom: -0.2rem;
      }
    }
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      .admin-bar & {
        margin-top: 32px;
      }
    }
  }

  .index-head {
    @include span-columns(3);
    float:none;
    > li {
      display: block;
      > a {
        color: $text-light-grey;
        .count {
          opacity: 0;
          transition: color $hover-out ease-out, opacity $hover-out ease-out;
        }
        &.active-discipline {
          color: $black;
          .count {
            opacity: 1;
            color: $text-dark-grey;
          }
        }
        &:hover {
          color: $light-black;
          .count {
            opacity: 1;
            color: $text-dark-grey;
            transition: color $hover-in ease-out, opacity $hover-in ease-out;
          }
        }

      }
    }
    .index-filters {
      padding-left: 0.5rem;
      border-left: $standard-border-solid;
      margin-top: 0.25rem;
      .button {
        display: inline-block;
      }
    }
  }

  .artists {
    @include media($medium-up) {
      @include shift(3);
      @include span-columns(9);
    }
  }

  .index-content {
    .artist-card {

      @include media($medium-only) {
        @include span-columns(3 of 9);
        @include omega(3n);
      }
      @include media($large-only) {
        @include span-columns(3 of 9);
        @include omega(3n);
      }
      @include media($xlarge-only) {
        @include span-columns(3 of 9);
        @include omega(3n);
      }
      @include media($xxlarge) {
        @include span-columns(3 of 9);
        @include omega(3n);
      }
      
    }
  }
}