#artist {

  .artist-header {
    @include span-columns(3);
  }

  .spacer {
    .card-image-wrap {
      width: 100%;
      @include media($large-only) {
        height: 10rem;
      }
      @include media($xlarge-only) {
        height: 12.5rem;
      }
      @include media($xxlarge) {
        height: 15rem;
      }
    }
    .portfolio-card-info {
      margin-bottom: $vertical-bumper-half;
    }
  }

  .portfolio-links {
    .lighter-grey {
      margin-bottom: 0.35rem;
    }
    a {
      display: block;
      color: $text-light-grey;
      line-height: $line-large;
      padding-left: $type-small;
      border-left: $standard-border-solid;
      &:hover,
      &.hovered {
        color: $mid-black;
      }
    }
  }

  .artist-content {
    @include shift(3);
    @include span-columns(9);
  }

  .artist-info-inner {
    opacity: 1;
    transition: all $hover-out ease-out;
  }

  .portfolios {
    @include span-columns(9 of 9);
    display: block;
    position: relative;
    transition: all $mid-transition ease-out;
    font-size: 0px;
    
    li.portfolio-card-wrap {
      @extend .collapse-right;
      margin-bottom: $vertical-bumper-half;
    }
  }

  .artist-info {
    @include span-columns(6 of 9);
  }

  .bio-inner {
    @include column-count(2);
    @include column-gap(2rem);
  }

  .pdfs {
    li {
      @include span-columns(1.5 of 6);
    }
    .pdf-thumb {
      width: 100%;
      padding-bottom: 133%;
      background-size: cover !important;
      background-position: center !important;
      display: block;
    }
    .button {
      display: table;
    }
  }

}