#contact {
  min-height: calc(100vh - (#{$footer-height} + #{$header-height}));
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;


  #map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    @include linear-gradient(-90deg, #f2f2f2 40%, transparent 100%, $fallback: transparent);
    z-index: 5;
  }

  .contact-info {
    position: relative;
    z-index: 10;
  }

  .contact-section {
    h4 {
      &:before {
        content: '\2022\00a0';
        color: $blue-highlight;
      }
    }
    &:not(:last-of-type) {
      padding-bottom: $vertical-bumper-quarter;
      margin-bottom: $vertical-bumper-quarter;
      border-bottom: $standard-border-opacity;
    }
  }

  .section-links {
    li:not(:last-of-type) {
      margin-bottom: $vertical-bumper-quarter;
    }
    a {
      &:hover {
        color: $blue-highlight !important;
      }
    }
  }
}