$contact-height: calc( 100vh - (#{$footer-height} + #{$header-height-large}) );

#contact {
  position: relative;
  background: $light-grey;
  @include media($medium-up) {
    min-height: $contact-height;
  }

  .overlays {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    @include media($medium-up) {
      display: block;
    }
  }


  #map {
    @include media($medium-up) {
      padding-top: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
    }
  }

  .gradient-overlay {
    @include media($medium-only) {
      @include linear-gradient(-90deg, #f2f2f2 60%, transparent 100%, $fallback: transparent);
    }
    @include media($medium-up) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      z-index: 5;
    }
    
    @include media($large-up) {
      @include linear-gradient(-90deg, #f2f2f2 45%, transparent 100%, $fallback: transparent);
    }
  }


  .contact-wrap {
    @include media($medium-up) {
      min-height: $contact-height;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .wrap-inner {
    width: 100%;
  }

  .contact-info {
    position: relative;
    z-index: 10;
  }

  .contact-section {
    h4 {
      &:before {
        content: '\2022\00a0';
        color: $blue-highlight;
      }
    }
    &:not(:last-of-type) {
      padding-bottom: $vertical-bumper-quarter;
      margin-bottom: $vertical-bumper-quarter;
      border-bottom: $standard-border-opacity;
    }
  }

  .section-links {
    li:not(:last-of-type) {
      margin-bottom: $vertical-bumper-quarter;
    }
    a {
      &:hover {
        color: $blue-highlight !important;
      }
    }
  }
}