#get-quote {
  background: $blue-bg;
  display: flex;
  align-items: center;
  justify-content: center;

  .get-quote-text {
    color: $white-light-transparent;
    margin-top: -$vertical-bumper;
  }

  .quote-form {
    margin-top: $vertical-bumper;
    text-align: center;
    color: $white-mid-transparent;

    form {
      font-family: $headline;
      font-size: 10vw;
      line-height: $line-medium;
      @include media($medium-only) {
        font-size: 8vw;
      }
      @include media($large-up) {
        font-size: 5vw;
      }
    }
  }

  button {
    display: block;
    margin: $vertical-bumper auto 0;
  }

  #product-select .selected-option {
    min-width: rem(200);
  }





}