#get-quote {
  background: $blue-bg;
  display: flex;
  align-items: center;
  justify-content: center;

  .quote-form {
    margin-top: $vertical-bumper;
    text-align: center;
    color: $white-mid-transparent;

    form {
      font-family: $headline;
      font-size: 5vw;
      line-height: $line-medium;
    }
  }

  button {
    display: block;
    margin: $vertical-bumper auto 0;
  }

  #product-select .selected-option {
    min-width: rem(200);
  }





}