.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $full-gutter * 0.75;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: inline-block;
    width: rem(160);
    svg {
      max-width: 100%;
    }
    .text-bergdoll {
      fill: $white;
    }
    .text-insurance {
      fill: $blue-highlight;
    }
  }

  .nav-main {
    a {
      @extend %aa-text;
      display: inline-block;
      font-weight: $type-bold;
      padding: 0 $half-gutter * 0.75 $half-gutter;
      margin-top: -$full-gutter * 1.5;
      margin-bottom: -$half-gutter;
      span {
        position: relative;
        padding-top: $full-gutter * 1.25;
      }
      &:not(:hover) {
        color: $white-transparent;
      }
      &:hover {
        color: $white;
      }
      &:last-of-type {
        padding-right: 0;
      }

      &.current-menu-item {
        &:not(:hover) {
          color: $white-mid-transparent;
        }
        span {
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 3px;
            left: 0;
            width: 100%;
            border-bottom: $thick-border-width solid $blue-highlight;
          }
        }
      }
    }
  }
  
}