.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $blue-bg-translucent;
  padding: $half-gutter $full-gutter * 0.75;
  align-items: center;
  z-index: 10;
  transition: all $short-transition $ease-out-cubic;
  @include media($medium-up) {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: block;
    width: rem(120);
    margin: 0 auto;
    @include media($medium-up) {
      margin: 0;
      width: rem(160);
    }
    svg {
      max-width: 100%;
    }
    .text-bergdoll {
      fill: $white;
      transition: all $short-transition $ease-out-cubic;
    }
    .text-insurance {
      fill: $blue-highlight;
    }
  }

  .nav-main {
    display: none;
    @include media($medium-up) {
      display: block;
    }
    a {
      @extend %aa-text;
      display: inline-block;
      font-weight: $type-bold;
      font-size: $type-paragraph;
      padding: 0 $half-gutter * 0.75 $half-gutter;
      margin-top: -$full-gutter * 1.1;
      margin-bottom: -$half-gutter;
      span {
        position: relative;
        padding-top: $full-gutter;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: -5px;
          left: 0;
          width: 100%;
          border-bottom: $thick-border-width solid $blue-highlight;
          transition: all $hover-out $ease-out-cubic;
        }
      }
      &:not(:hover) {
        color: $white-transparent;
      }
      &:hover {
        color: $white;
      }
      &:last-of-type {
        padding-right: 0;
      }

      &.current-menu-item {
        &:not(:hover) {
          color: $white-mid-transparent;
        }
        span {
          &:before {
            top: 3px;
          }
        }
      }
    }
  }
  

  &.scrolled {
    background: $white-dark-transparent;
    transition: all $short-transition $ease-out-cubic;

    .text-bergdoll {
      fill: $blue-bg;
      transition: all $short-transition $ease-out-cubic;
    }

    a {
      &:not(:hover) {
        color: $text-light-grey;
      }
      &:hover {
        color: $black;
      }
      &.current-menu-item {
        &:not(:hover) {
          color: $mid-black;
        }
      }
    }
  }
}