<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.url }}/css/main.css?v=1.0">

    <!-- Favicon -->
    <link href="{{ site.url }}/images/favicon.ico" rel='shortcut icon' type='image/x-icon'>
    <link href="{{ site.url }}/image/favicon.ico" rel='icon' type='image/x-icon'>

    <!-- JS -->
    <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhrVTuToafCBe1SxRleu1FHB2u0L8R9gg&callback=initMap"></script>
    <script src="{{site.url}}/js/min/jquery-min.js"></script>
    <script src="{{site.url}}/js/min/modernizr-min.js"></script>
    <script src="{{site.url}}/js/min/plugins-min.js?v-1.0"></script>
    <script src="{{site.url}}/js/min/scripts-min.js?v=1.0.1"></script>

    {% include mapScript.html %}
    


    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">

    <!-- Normal Meta -->
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="index,follow">

    <!-- Facebook Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:image" content="{{ site.url }}/images/{{ site.og_image }}">
    <meta property="og:description" content="{{ site.og_description }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:site_name" content="{{ site.title }}">

  </head>
  <body>
    {{ content }}
  </body>
</html>
